{
    "tabWidth": 2,
    "overrides": [
      {
        "files": ["**/*.js", "**/*.py"],
        "options": {
          "tabWidth": 2
        }
      },
      {
        "files": ["**/*.jsx", "**/*.json", "**/*.css"],
        "options": {
          "tabWidth": 2
        }
      }
    ]
}
  